@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/*-- scss:defaults --*/
$background: #e5f2dc;
$darkblue: #19486A;

/*-- scss:rules --*/
body {
  background-color: $background;
}

.quarto-dashboard #quarto-dashboard-header .navbar .navbar-container {
  background-color: $background;
}

.navbar-title-text {
  font-family: 'Poppins', sans-serif;
  color: $darkblue;
  
  text-align: center;
  line-height: 105%;

  margin-top: 25px;
  margin-bottom: 25px;

  // Desktop
  font-size: 45px;

  // Tablet
  @media only screen and (max-width: 768px) {
    font-size: 35px;
  }

  // Smartphone
  @media only screen and (max-width: 480px) {
    font-size: 30px;
  }
}

.control-label {
  font-family: 'Poppins', sans-serif;
  color: $darkblue;
}

/*-- scss:mixins --*/
/*-- scss:functions --*/
/*-- scss:uses --*/
