@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/*-- scss:defaults --*/
$background: #e5f2dc;
$darkblue: #19486A;
$yellow: #FDF5B6;
$lightpink: #F5DDE7;
$pink: #e9b6cb;

/*-- scss:rules --*/
body {
  background-color: $background;
}

.quarto-dashboard #quarto-dashboard-header .navbar .navbar-container {
  background-color: $background;
}

.navbar-title-text {
  font-family: 'Poppins', sans-serif;
  color: $darkblue;
  
  text-align: center;
  line-height: 105%;

  margin-top: 25px;
  margin-bottom: 25px;

  // Desktop
  font-size: 45px;

  // Tablet
  @media only screen and (max-width: 768px) {
    font-size: 35px;
  }

  // Smartphone
  @media only screen and (max-width: 480px) {
    font-size: 30px;
  }
}

.control-label {
  font-family: 'Poppins', sans-serif;
  color: $darkblue;
}


/*dashboardcards*/
.card {
  border-radius: 25px;
  border: 2px solid $darkblue;
}

.card-header {
  background: $lightpink;
  border: none;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  color: $darkblue;
  font-size: 20px;
  font-weight: 900;
}

.nav-link {
  color: $darkblue;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-family: 'Poppins', sans-serif;
  border: none;
}
.nav-link:hover {
  background: $pink;
  border: none;
}
.nav-link.active {
  border: none;
}

.nav-tabs {
  border: none;
  --bs-nav-tabs-border-width: 0px;
}

/*-- scss:mixins --*/
/*-- scss:functions --*/
/*-- scss:uses --*/
